.container {
    background-image: url('../../images/bg-mobile.svg');
    background-color: var(--primary-violet);
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 100vh;

    @media screen and (min-width: 800px) {
        background-image: url('../../images/bg-desktop.svg');
        display: grid;
        background-size: 92% 100%;
        grid-template-rows: auto 1fr auto;
    }
}