@import 'variables';
@import 'mixins';

.header {
    width: calc(100% - 4.6em);
    margin: auto;
    padding-top: 2em;
    
    &__logo {
        width: 130px;
    }
    
    @include media-query($laptop){
        width: 85%;
        padding-top: 4em;
        padding-bottom: 3.5em;
        &__logo {
            width: 225px;
        }   
    }
}